# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
ENV/
.venv/
.Python

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code / PyCharm
.vscode/
.idea/

# macOS
.DS_Store

# Environment variables
.env

# Migrations (optional - keep if you want clean control)
**/migrations/*.py
!**/migrations/__init__.py

# Coverage / test
htmlcov/
.coverage
.tox/
.nox/

# Other
*.bak
*.swp
