asgiref==3.8.1
Authlib==1.5.2
cffi==1.17.1
cryptography==44.0.3
Django==5.2.1
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
gunicorn==23.0.0
packaging==25.0
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.9.0
python-dotenv==1.1.0
sqlparse==0.5.3
whitenoise==6.9.0
